body {
  text-align: center;
}

.note-input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0 128px;
}

.message-box {
  width: 700px;
  height: 50px;
}

.submit-btn {
  width: 128px;
  height: 50px;
}

.note-list {
  margin: 0 128px;
  margin-top: 96px;
}

.note-style {
  border: 3px solid black;
  margin-bottom: 16px;
}
